body{
  background: #b5dde8 ; 
}


.masthead {
    display: grid;
    place-items: center;
    gap: 30px;
    height: auto;
    min-height: 300px;
    background-image: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

h1{
    text-align: center;
    margin-top: 30px;
    color: #ff8000;
}
.text-header{
  text-align: center;
  font-size: large;
}
.container-fluid {
    justify-content: center;
    align-items: center; 
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:20px;
	padding:4px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.card-footer{
  display: flex;
  justify-content: center;
}
